@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto Mono', monospace;
  background-image: url('bg.gif');
}

.text-bold{
    font-weight:300;
    font-size:2em;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5% ;

}

.outer-box{

    width: 60%;
    height: 760px;
    border: solid 2px #333333;
    float:left;
    position: relative;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 25px;
}

.outer-box:before {
    border-radius: 25px;
    border: 2px solid #333333;
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: -20px;
    right: 20px;
    bottom: -20px;
    pointer-events: none;
    z-index: -1;
    background: #ffffcc;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.inner-box{
    z-index: 1;
    width: 45%;
    height: 680px;
    border: solid 5px #000000;
    float:left;
    margin-left: 2.3%;
    position: relative;
    margin-right: auto;
        align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    border-radius: 5px;
}

.row-box{
    width: 90%;
    height: 140px;
    border: solid 1px #000000;
    float:left;
    margin-left: 5%;
    position: relative;
    margin-right: auto;
    margin-top: 5%;
   
    border-radius: 5px;

}
.row-each-box{
    width: 30%;
    height: 120px;
    border: solid 1px #000000;
     background: #e6f7ff;
    float:left;
    margin-left: 2.5%;
    position: relative;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: .5%;
    border-radius: 10px;
}

.row-box-last{
    width: 95%;
    height: 220px;
    border: solid 1px #000000;
    float:left;
    margin-left: 2.3%;
    position: relative;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 10px;
}

.right-box{
    width: 95%;
    height: 580px;
    border: solid 1px #000000;
    float:left;
    margin-left: 2.3%;
    position: relative;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 10px;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
 
}

button:active {
  
}

.GeneralButton {
  border: 0;
  padding: 2% 10px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1em;
  cursor: pointer;
  background-color: #86592d;
  color: #fff;
  font-weight: 100;
  margin-top: 5%;
}

.GeneralButton:active {
  outline: none;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #000000;
  width: 30%;
  padding-bottom: 4px;
  color: #000000 !important;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 1em;
}

input[type="text"] { 
    outline: none;
}

h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.value {
  color: #000000;
  font-weight: 200;
  font-size: 1.2em;
  text-transform: capitalize;
}

.data {
  color: #f16051;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 10px 0 0px 0;
  font-weight: 400;
  font-size: 1.2em;
  text-transform: capitalize;
}

.data_box {
  color: #000000;
  font-weight: 200;
  font-weight: 400;
  font-size: 1em;
  text-transform: capitalize;
}

.value_error {
  color: #ff3333;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

.value_error-max {
  width: 80%;
  border: solid 1px red;
  border-radius: 10px;
  color: #000000;
  font-size: .7em;
  margin-left: auto;
  padding-top: 5%;
  margin-right: auto;
  background: white; 
  font-weight: 200;
}

.value-info {
  color: #000000;
  font-weight: 600;
  font-size: .9em;
  text-align: left;
  margin-left: 3%;
  text-transform: uppercase;
}

.data-info {
  color: #000000;
  border: solid 1px #000000;
  border-style: dashed;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: .2%;
  font-weight: 200;
  font-size: .9em;
  text-align: left;
  padding-left: 3%;
}
.bubble{
  color: #000000;
  background-color: #ffffff;
  border: solid 1px #000000;
  width: 45%;
  height: 80px;
  float: right;
  margin-top: 2%;
  margin-left: -7%;
  margin-right: 10%;
  text-align: center;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 20px;
}

.bubble:before {

    border: 2px solid #333333;
    content: "";
    background-color: #ffffff;
    display: block;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 5px;
    position: absolute;
    border-left: initial;
    top: 10px;
    left: 130px;
    right: 70px;
    bottom: 180px;
    pointer-events: none;
    z-index: -1;

}
.row{
    width: 90%;
    height: 120px;
    border: solid 1px #000000;
    float:left;
    margin-left: 5%;
    position: relative;
    margin-right: auto;
    margin-top: 5%;
   
    border-radius: 5px;

}

